<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Hello Dragon</title>
    </head>
    <body>
        <div class="text-center">
            <h1 class="text-2xl font-bold my-5">
                Lair
            </h1>
            <button hx-get="/dragons" 
            hx-trigger="click"
            hx-target="#dragons"
            hx-confirm="Are you sure you want to do this?"
            hx-indicator="#loading"
            class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg">
                Fetch Dragons
            </button>
            <button hx-get="/users" 
            hx-trigger="click"
            hx-target="#users"
            hx-indicator="#loading"
            hx-vals='{"limit": 5}'
            class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg">
                Fetch Users
            </button>
            <span class="htmx-indicator" id="loading">
                <img src="assets/loader.gif" alt="Loading..." class="m-auto h-10">
            </span>

            <div id="dragons"></div>
            <div id="users"></div>
        </div>
    </body>
</html>